.banner{
  width: 100%;
  background-image: url("../img/banner1.jpg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  font-weight: bolder;
  padding:0px;
  margin:0px;
}
.title{
  font-weight: bolder;
}
.subtitle{
  font-weight: bold;
}
.card-title{
  font-size: 20px;
  font-weight: bold;
}
.blueSection{
  background-color: #7EB2DD;
  border-radius: 0px;
}

